<div class="imx-colorpicker-wrapper">
    <!-- Fix header -->
    <div class="imx-colorpicker-header">
        <div class="imx-color"></div>

    </div>
    <!-- Carousel for color picker pages -->
    <ul data-rn-carousel data-rn-carousel-indicator>
        <!-- Advanced tab -->
        <li>

        </li>
        <!-- Solid colors tab -->
        <li>
            <div>
                <div data-ng-repeat="color in lastUsed" data-imx-color="{{color}}"></div>
            </div>
            <div>
                <div data-ng-repeat="color in solidColors" data-imx-color="{{color}}" data-ng-scrollbar></div>
            </div>
        </li>
        <!-- Palettes tab -->
        <li>

        </li>
        <!-- Favourites tab -->
        <li>

        </li>
    </ul>
</div>